.movie-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  /**
  .movie-card {
    height: 50vh;
  }
  **/

  .link-no-underline {
    text-decoration: none;
  }

  .titcen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  
  
  .movie-col {
    margin-bottom: 20px;
  }
  
  .movie-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
  }
  